@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* COMPONENT: HEADER */
#header {
	background-color: #7877f7;
	padding: 0.1rem;
	box-shadow: 2px 6px 9px 1px rgba(0, 0, 0, 0.2);
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: #d6fefe;
	font-size: 3em;

	padding: 0.5rem 0rem;

	overflow: hidden;
	border-right: 0.15em solid #7877f7;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(40, end) infinite;
}

/* Typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* COMPONENT: LOADING SPINING */
.circular-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* COMPONENT: TABLE MOVIES */

h2 {
	color: #57acfc;
}

.MuiDataGrid-columnHeaders {
	background-color: #57acfc;
	color: #ffffff;
}

/* COMPONENT: RETRIVE FETCH */
.retrive-fetch {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.MuiButton-root {
	width: 100%;
}
